<?php 
    $linkModel = $this->getCurrentLinkModel();
    $urlStatus = $linkModel->getStatus();
?>

<script>
    var urlInsert = '<?php echo $this->helper('clickmap')->getInsertUrl(); ?>';
    var urlSelect = '<?php echo $this->helper('clickmap')->getSelectUrl(); ?>';
    var urlId = '<?php echo $linkModel->getLinkId() ?>';
    var lastPeriod = '<?php echo Mage::app()->getRequest()->getParam('lastperiod') ?>';
    var drawerRadius = <?php echo Mage::getStoreConfig('clickmap_options/clickmapgroup/raduis') ?>;
    var drawerTheme = <?php echo Mage::getStoreConfig('clickmap_options/clickmapgroup/theme') ?>;
    var drawerGamma = <?php echo Mage::getStoreConfig('clickmap_options/clickmapgroup/gamma') ?>;
</script>


<?php if (Mage::app()->getRequest()->getParam('clickmap')): ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('calconomica/clickmap/drawer.js') ?>"></script>
    <div id="spCanWrapper" >
        <canvas id="spCan" width="900" height="500"  ></canvas> 
    </div>
<?php elseif($urlStatus): ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('calconomica/clickmap/spectator.js') ?>"></script>
<?php endif ?>



